<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Search Data</title>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js">	
</script>
<script src="nghideshow.js"></script>
<script src="angular.js"></script>
<link rel="stylesheet" type="text/css" href="nghideshow.css">
</head>
<body ng-app="myModule">
	<div ng-controller="myController">
	<input type="checkbox" ng-model="hidesalary" /> Hide Salary
		</br></br>
		<table>
			<thead>
				<tr>
				<th>Name</th>
				<th>Gender</th>
				<th ng-hide="hidesalary">Salary</th>
				<th ng-show="hidesalary">Salary</th>
				<th>City</th>
				</tr>
			</thead>
			<tbody>
			<tr ng-repeat="employee in employees">
			<td>{{employee.name}}</td>
			<td>{{employee.gender}}</td>
			<td ng-hide="hidesalary">{{employee.salary}}</td>
			<td ng-show="hidesalary">####</td>
			<td>{{employee.city}}</td>
			</tr>
			</tbody>
		</table>
	</div>
</body>
</html>